.nav-bar{
    z-index: 5;
    width: 100%;
    position: fixed;
    background-color: white;
}

.main{
    display: flex;
    height: 520px;
    padding-top: 200px;
    justify-content: space-around;
    align-items: center;
}

.main-img-div{
    object-fit: contain;
}

.main-text{
    display: flex;
    flex-direction: column;
}
.btn-1{
    background-color: black;
    padding: 10px 15px;
    color: white;
    border-radius: 8px;
}
.main-text p{
    width: 500px;
}
.main-text h1{
    width: 500px;
}
.images{
    justify-content: space-between;
    padding: 30px 120px;
}
.cards{
    margin: 40px 160px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    border-radius: 40px;
}

.service-card-1{
    display: flex;
    background-color: rgb(243,243,243);
    border-radius: 40px;
    padding: 30px 40px;
}
.service-card-2{
    display: flex;
    background-color: rgb(185, 255, 102);
    border-radius: 40px;
    padding: 20px 40px;
}
.card-text-1, .card-text-2{
    gap:50px;
}
.card-text-1 h3{
    background-color: rgb(185, 255, 102);
}
.card-text-2 h3{
    background-color: rgb(243,243,243);
}
.card-img{
    display: flex;
    justify-content: end;
}

.ques{
    background-color: rgb(185, 255, 102);
    color: black;
    border-radius: 40px;
}
.accordion-flush .accordion-item .accordion-button{
    background-color: rgb(185, 255, 102);
    color: black;
    border-radius: 40px;
}
.large-ques{
    font-size: 40px;
    margin-right: 20px;
}

.contact{
    border-radius: 40px;
    padding: 40px 0px 20px 50px;
    background-color: rgb(243,243,243);
    justify-content: space-between;
}

.img-box img{
    width: 300px;
}

.contact-box{
    width: 500px;
    display: flex;
    flex-direction: column;
}

.contact-box p{
    margin-bottom: 8px ;

}
.contact-box input{
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 30px;
}
.contact-box textarea{
    border-radius: 15px;
    margin-bottom: 30px;
}

.msg-btn{
    background-color: black;
    color: white;
    padding: 8px 20px;
    border-radius: 10px;
}

nav a{
    color: black;
}

footer{
    background-color: rgb(25, 25, 26);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 40px;
}

.row a{
    color: white;
}

.f-icons{
    display: flex;
    gap: 20px;
}

.f-contact{
    background-color: rgb(185, 255, 102);
    border-radius: 8px;
}

.f-contact-details{
    color: white;
}

.f-contact-box{
    background-color: rgb(42, 42, 50);
    align-items: center;
    justify-content: center;
    gap: 30px;
    border-radius: 20px;
}

.f-contact-box div input{
    background-color: rgb(42, 42, 50);
    border: 1px solid white;
    padding: 20px 30px;
    border-radius: 10px;
}

.f-contact-box div button{
    background-color: rgb(185, 255, 102);
    color: black;
    border: none;
    padding: 20px 40px;
    border-radius: 10px;
}
